*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    background-color: whitesmoke;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo{
    height: 30px;
}
.header_menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}
.header_options{
    display: flex;
    flex-direction: row;
}
.header_options > * {
    margin: 5px;
}
.novo_video_btn{
    background: rgba(0, 0, 0, 0);
    color: black;
    border: solid 1px black;
    font-size: larger;
    margin-left: 20px;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
}
.novo_video_btn:hover{
    background-color: black;
    color: white;
}
.comprar_btn{
    padding: 8px;
    background-color: royalblue;
    color: white;
    border: none;
    font-size: larger;
    margin: 5px;
    border-radius: 5px;
}
.total_moedas{
    font-size: large;
    font-weight: bold;
    color: gray;
}
.titulo_video{
    margin: 20px;
}
.menu_video{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.menu_video > *{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.video_valor{
    color: green;
}
.menu_btn{
    padding: 5px;
    background-color: rgb(241, 110, 22);
    color: white;
    font-size: larger;
    border:none;
    margin: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
}
#play_btn{
    background-color: rgb(44, 212, 44);
}
.video_frame{
    border-radius: 10px;
}
@media (max-width:768px){
    .video_frame{
        width: 90%;
        height: 300px;
    }
}