<!DOCTYPE html>
<html>
<head>
  <title>+visu - Login</title>
  <link rel="icon" href="icone.png">
   <!-- Inclua o icone -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Inclua o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 col-sm-12">
        <img src="../static/logo.png" class="img-fluid mx-auto d-block" alt="Logo">

        <form class="mt-4">

            <div class="mb-3">
              <label for="loginInput" class="form-label">Usuário</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bx bx-user"></i></span>
                <input required type="text" class="form-control" id="loginInput" placeholder="Digite seu login">
              </div>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">Senha</label>
                <div class="input-group">
                  <span class="input-group-text"><i class='bx bx-low-vision'></i></i></span>
                  <input required type="password" class="form-control" id="passwordInput" placeholder="Digite sua senha">
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmaPass" class="form-label">Confirmar Senha</label>
                <div class="input-group">
                  <span class="input-group-text"><i class='bx bx-low-vision'></i></i></span>
                  <input required type="password" class="form-control" id="confirmaPass" placeholder="Repita sua senha">
                </div>
            </div>
        </form>
          <button class="btn btn-success" onclick="enviarCadastro()">Criar</button>

          <script>
            function enviarCadastro() {

                const login = document.getElementById("loginInput").value;
                const senha = document.getElementById("confirmaPass").value;

                const data = {
                    login: login,
                    senha: senha,
                    moedas: 0.0
                };

                fetch("https://visu-zeta.vercel.app/cadastrar", {  // Use a rota local relativa
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    if ( !result.success ){
                        alert(result.msg)
                    }else{
                      logar(login, senha);                      
                    }
                    console.log("Resposta do servidor:", result);
                })
                .catch(error => {
                    console.error("Erro:", error);
                });
            }
            
            function logar(login, senha){

                 const data = {
                    login: login,
                    senha: senha
                };

                 fetch("https://visu-zeta.vercel.app/logar", {  // Use a rota local relativa
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    if ( !result.success ){
                        alert(result.msg)
                    }else{
                        window.location.href = "/pagina_principal";
                        localStorage.setItem('id', result.msg)
                    }
                    console.log("Resposta do servidor:", result);
                })
                .catch(error => {
                    console.error("Erro:", error);
                });
            }

            </script>
      </div>
    </div>
  </div>
</body>

</html>
