<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Visu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="icone.png">
    <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body>
    <header>
        <div class="header_options">
            <img id="logo" src="logo.png" alt="">
            <button class="novo_video_btn">Novo Vídeo</button>
        </div>
        <div class="header_menu">
            <span class="total_moedas">Moedas disponíveis: $<b id=my_coins>100.00</b></span>
            <button class="comprar_btn">Comprar moedas</button>
        </div>
    </header>
    <h1 class="titulo_video" id="titulo_video">Título Video</h1>
    <div id="frame_box">

    </div>
    <div class="menu_video">
        <span>
            <h3>Valor: <b class="video_valor" id="video_valor">$ 60</b></h3>
        </span>
        <span>
            <Button id="play_btn" class="menu_btn" onclick="say()">Iniciar Vídeo</Button>
        </span>
        <span>
            <h3 id="count">5</h3>
        </span>
        <span>
            <Button class="menu_btn" onclick="nextVideo()">Próximo ></Button>
        </span>
         <span>
            <Button class="menu_btn" onclick="teste()">teste</Button>
        </span>
    </div>
</body>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var videoid = urlParams.get('videoid');

    //obter informação do video
    /*
    fetch('/getvideo', {
        method:'POST',
        body:JSON.stringify({
            videoid:videoid
        })
    }).then(res => res.json())
    .then(function(res){
        let obj = JSON.parse(res)
        let title = document.getElementById('titulo_video').innerHTML = res.title
        let valor = document.getElementById('video_valor').innerHTML = res.valor
        let segundos = document.getElementById('count').innerHTML = res.segundos
    })
    */
    var player
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('frame_box', {
            videoId: videoid, 
            playerVars: {
                autoplay: 0,
                controls: 0,
                rel: 0
            },
            events: {
                onReady: function () {
                    player.playVideo()
                }
            }
        });
    }
    function counter(val){
        if(val === 0){
            fetch('/addmoedas', {
                method:'POST',
                body:JSON.stringify({
                    total:document.getElementById('video_valor').innerHTML
                })
            }).then(res => {
                alert("Parabens, as moedas ja foram depositadas")
            })
            count.innerHTML = 0
        }else{
            count.innerHTML = val
        }
    }
    function say(){
        player.playVideo()
        let count = document.getElementById('count')
        let sec = Number(count.innerHTML)
        
        let interval = setInterval(function(){
            
            if(sec === -1){
                clearInterval(interval)
            }else{
                counter(sec--)
            }
        }, 1000)

    }
    let my_coins = document.getElementById('my_coins')
    function nextVideo(){
        //chama proximo video
    }
</script>

</html>