<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Vídeos</title>
  <!-- Incluindo os arquivos CSS do Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  #nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
</style>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lista de vídeos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">
                <span class="total_moedas">Moedas disponíveis: $<b id=my_coins></b></span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comprar_moedas">Comprar Moedas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./meus_videos">Meus Vídeos</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Área de Vídeos -->
<div class="container mt-4">

 

  <div class="row" id="videos_box">
    
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
  function refreshCoins(){
            fetch(`https://visu-zeta.vercel.app/${localStorage.getItem('id')}/moedas`, {
                method:'POST',
                headers:{
                'Content-type':'application/json'
                }
            }).then(res => res.json())
                .then(function(res){
                    let coin_area = document.getElementById('my_coins')
                    coin_area.innerHTML = res.msg
                })
        }refreshCoins() 

  function prepare(titulo, descricao, valor, id, thumb, id_video){
    return `
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="${thumb}" class="card-img-top" alt="Vídeo 3">
        <div class="card-body">
          <h5 class="card-title">${titulo}</h5>
          <p class="card-text">${descricao}</p>
          <p>$ ${valor}</p>
          <button class="btn btn-success" valorvideo="${valor}" videoid="${id_video}" onclick="openVideo(this)">Play</button>
        </div>
      </div>
    </div>
    `
  }
 
  function render(res){
    let obj = res
    let video_box = document.getElementById('videos_box')

    obj.forEach(el => {
      let component = prepare(el.titulo, el.descricao, el.valor, el._id, el.thumb, el.id_video)
      video_box.innerHTML += component
    });
  }

  function carregaMeusVideos(){
      fetch('https://visu-zeta.vercel.app/get_videos', {
        method:'POST',
        headers:{
          'Content-type':'application/json'
        }
      }).then(res => res.json())
        .then(function(res){
            console.log(res)
            render(res)
        })
  }
  carregaMeusVideos()

  function openVideo(tag){
    let vid = tag.getAttribute('videoid');
    let preco = tag.getAttribute('valorvideo');

    window.location.href = `/visualizar_video?videoid=${vid}&preco=${preco}`
    /*fetch('/abrirvideo', {
      body:JSON.stringify({
        videoid:vid
      })
    })*/
  }
</script>
</html>
