<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Vídeos</title>
  <!-- Incluindo os arquivos CSS do Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  #nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Meus vídeos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">
                <span class="total_moedas">Moedas disponíveis: $<b id=my_coins>100.00</b></span>
              </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lista_videos">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Comprar Moedas</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2 style="text-align: center;">Formulário de Upload de Vídeo</h2>
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label for="titulo">Título do Vídeo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="url">URL do Vídeo</label>
            <input type="url" class="form-control" id="url" name="url" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição do Vídeo</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor" name="valor" step="1" required>
        </div>
    </form>

    <div class="d-flex justify-content-center">
      <div class="gif">
        <img id="loadinggif" hidden src="../static/gitloading.gif" alt="git loading">
      </div>
    </div>
    
    <div class="d-flex justify-content-center">
      <button type="submit" onclick="enviarVideo()" class="btn btn-primary col-5">Enviar</button>
    </div>

</div>
<h2 style="text-align: center;" class="mt-5">Meus Vídeos</h2>
<!-- Área de Vídeos -->
<div class="container mt-4">
  <div class="row" id="videos_box">
    
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    function enviarVideo(){

      const gitLoading = document.getElementById("loadinggif");
      
      const titulo = document.getElementById("titulo").value;
      const url = document.getElementById("url").value;
      const descricao = document.getElementById("descricao").value;
      const valor = document.getElementById("valor").value;

      gitLoading.hidden = false;

      if (
        titulo != "" && url != "" && descricao != "" && valor != ""
      ){

        const data = {
          titulo: titulo,
          url: url,
          descricao: descricao,
          valor: valor,
          usuario: localStorage.getItem("id")
        };

      fetch("https://visu-zeta.vercel.app/post_videos", {  
      method: "POST",
      headers: {
          "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
      
      alert(result.msg)
      gitLoading.hidden = true;

      console.log("Resposta do servidor:", result);
      let video_box = document.getElementById('videos_box')
      video_box.innerHTML = ""
      carregaMeusVideos()
    })
    .catch(error => {
      console.error("Erro:", error);
      });

      }else{
        alert("Preencha todos os campos!")
        gitLoading.hidden = true;
      }
    }

    /*
      rota é 'https://visu-zeta.vercel.app/' + localStorage.getItem("id") + '/get_videos'

      retorna uma lista desses valores

        "_id": "64e0e3c56ba0e25064fd70ae",
        "descricao": "faz o l",
        "thumb": "https://i.ytimg.com/vi/fjdrbqN5e-0/hqdefault.jpg",
        "titulo": "tesset",
        "url": "https://youtu.be/fjdrbqN5e-0",
        "usuario": "teste",
        "valor": "13"
        
    */
    function prepare(titulo, descricao, valor, id, thumb){
    return `
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="${thumb}" class="card-img-top" alt="Vídeo 3">
        <div class="card-body">
          <h5 class="card-title">${titulo}</h5>
          <p class="card-text">${descricao}</p>
          <p>$ ${valor}</p>
          <button class="btn btn-danger" videoid="${id}" onclick="deleteVideo(this)">Delete</button>
        </div>
      </div>
    </div>
    `
  }

  function deleteVideo(tag){
    fetch(`https://visu-zeta.vercel.app/${tag.getAttribute('videoid')}/delete_video`, {
        method:'POST',
        headers:{
          'Content-type':'application/json'
        }
      }).then(res => res.json())
        .then(function(res){
            alert(res.msg)
            let video_box = document.getElementById('videos_box')
            video_box.innerHTML = ""
            carregaMeusVideos()
        })
  }

  function render(res){
    let obj = res
    let video_box = document.getElementById('videos_box')

    obj.forEach(el => {
      let component = prepare(el.titulo, el.descricao, el.valor, el._id, el.thumb)
      video_box.innerHTML += component
    });
  }
  function carregaMeusVideos(){
      fetch('https://visu-zeta.vercel.app/get_videos', {
        method:'POST',
        body:JSON.stringify({
            user:localStorage.getItem('user')
        }),
        headers:{
          'Content-type':'application/json'
        }
      }).then(res => res.json())
        .then(function(res){
            console.log(res)
            render(res)
        })
  }
  carregaMeusVideos()
  /*
  fetch('/getvideos', {
    method:'POST',
    headers:{
      'Content-type':'application/json'
    }
  }).then(res => res.json())
  .then(function(res){
    let obj = JSON.parse(res)
    obj.forEach(el => {
      let video_box = document.getElementById('videos_box')
      let component = prepare(el.titulo, el.descricao)
      video_box.innerHTML += component
    });
  })*/

  function openVideo(tag){
    let vid = tag.getAttribute('videoid')

    window.location.href = `index.html?videoid=${vid}`
    /*fetch('/abrirvideo', {
      body:JSON.stringify({
        videoid:vid
      })
    })*/
  }
</script>
</script>
</html>
