<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Visu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="icone.png">
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    #nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        width: 100%;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Lista de vídeos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="total_moedas">Moedas disponíveis: $<b id=my_coins></b></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comprar_moedas">Comprar Moedas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./meus_videos">Meus Vídeos</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="titulo_video" id="titulo_video">Título Video</h1>
    <div id="frame_box">

    </div>
    <div class="menu_video">
        <span>
            <h3>Valor: $<b class="video_valor" id="video_valor">60</b></h3>
        </span>
        <span>
            <Button id="play_btn" class="menu_btn" onclick="say()">Iniciar Vídeo</Button>
        </span>
        <span>
            <h3>
                <h3 id="count">5</h3>
                <span> segundos...</span>
            </h3>
        </span>

        <span>
            <Button class="menu_btn" onclick="nextVideo()">Próximo ></Button>
        </span>
        <span>
            <Button class="menu_btn_automatico" onclick="automatico(this)">Automático</Button>
        </span>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

    var AUTOMATICO = false

    function refreshCoins() {
        fetch(`https://visu-zeta.vercel.app/${localStorage.getItem('id')}/moedas`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            }
        }).then(res => res.json())
            .then(function (res) {
                let coin_area = document.getElementById('my_coins')
                coin_area.innerHTML = res.msg
            })
    } refreshCoins()
    var urlParams = new URLSearchParams(window.location.search);
    var videoid = urlParams.get('videoid');
    var dataid = urlParams.get('dataid')

    var player
    function onYouTubeIframeAPIReady(id = videoid) {
        player = new YT.Player('frame_box', {
            videoId: id,
            playerVars: {
                autoplay: 0,
                controls: 0,
                rel: 0
            },
            events: {
                onReady: function () {
                    player.playVideo()
                }
            }
        });
    }
    onYouTubeIframeAPIReady(videoid)
    function counter(val) {
        if (val <= 0) {
            let obj = {
                id_usuario: localStorage.getItem('id'),
                moedasdrop: Number(document.getElementById('video_valor').innerHTML),
                id_video: dataid
            }

            fetch('https://visu-zeta.vercel.app/droparmoedas', {
                method: 'POST',
                headers:{
                    "Content-type":'application/json'
                },
                body: JSON.stringify(obj)
            }).then(res => {
                alert(JSON.stringify(res))
                alert("Parabens, as moedas ja foram depositadas")
                refreshCoins()
            })
            count.innerHTML = 0
        } else {
            count.innerHTML = val
        }
    }
    function say() {
        player.playVideo()
        let count = document.getElementById('count')
        let sec = Number(count.innerHTML)

        let interval = setInterval(function () {

            if (sec === -1) {
                clearInterval(interval)
            } else {
                counter(sec--)
            }
        }, 1000)

    }
    let my_coins = document.getElementById('my_coins')

    function nextVideo() {
        var requestOptions = {
        method: 'POST',
        redirect: 'follow'
        };

        fetch("https://visu-zeta.vercel.app/proximovideo", requestOptions)
        .then(response => response.text())
        .then(result => {

            dados = JSON.parse(result);
            
            if ( dados.success ){
                window.location = "/visualizar_video?videoid=" + dados.video.id_video;
            }else{
                alert("Sem video")
            }
        } )
        .catch(error => console.log('error', error));
    }


    
    function automatico(tag){
        if(!AUTOMATICO){
            tag.style.backgroundColor = 'red'
            AUTOMATICO = true
        }else{
            tag.style.backgroundColor = 'royalblue'
            AUTOMATICO = false
        }
    }
</script>

</html>
