<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Visu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="icone.png">
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    #nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
  </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Visualisar vídeo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link">
                    <span class="total_moedas">Moedas disponíveis: $<b id=my_coins></b></span>
                  </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/lista_videos">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comprar_moedas">Comprar Moedas</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="titulo_video" id="titulo_video">Título Video</h1>
    <div id="frame_box">

    </div>
    <div class="menu_video">
        <span>
            <h3>Valor: <b class="video_valor" id="video_valor">$ 60</b></h3>
        </span>
        <span>
            <Button id="play_btn" class="menu_btn" onclick="say()">Iniciar Vídeo</Button>
        </span>
        <span>
            <h3>
                <h3 id="count">5</h3>
                <span> segundos...</span>
            </h3>
        </span>

        <span>
            <Button class="menu_btn" onclick="nextVideo()">Próximo ></Button>
        </span>
          <span>
            <Button class="menu_btn_automatico" onclick="teste()">Automático</Button>
        </span>

    </div>
</body>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var videoid = urlParams.get('videoid');

    var player
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('frame_box', {
            videoId: videoid, 
            playerVars: {
                autoplay: 0,
                controls: 0,
                rel: 0
            },
            events: {
                onReady: function () {
                    player.playVideo()
                }
            }
        });
    }
    function counter(val){
        if(val <= 0){
            /*
            fetch('/addmoedas', {
                method:'POST',
                body:JSON.stringify({
                    total:document.getElementById('video_valor').innerHTML
                })
            }).then(res => {
            })*/
            alert("Parabens, as moedas ja foram depositadas")
            count.innerHTML = 0
        }else{
            count.innerHTML = val
        }
    }
    function say(){
        player.playVideo()
        let count = document.getElementById('count')
        let sec = Number(count.innerHTML)
        
        let interval = setInterval(function(){
            
            if(sec === -1){
                clearInterval(interval)
            }else{
                counter(sec--)
            }
        }, 1000)

    }
    let my_coins = document.getElementById('my_coins')
    function nextVideo(){
        //chama proximo video
    }
</script>

</html>